olake
.vscode
test
.DS_Store
__debug_bin*
go.sum
go.work.sum
**/examples
debezium-server-iceberg-sink-0.0.1-SNAPSHOT.jar
writers/iceberg/debezium-server-iceberg-sink/target/
writers/iceberg/debezium-server-iceberg-sink/target/**/
writers/iceberg/local-test/data/
debezium-server-iceberg-sink.jar
local-releaser.sh
writers/iceberg/debezium-server-iceberg-sink/.idea/
writers/iceberg/debezium-server-iceberg-sink/dependency-reduced-pom.xml
